body {
    /*font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    background: url('../img/blackpic_grandopen01.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.label-spacing label {
    display: inline-block;
    width: 300px;
    text-align: right;
}

/* For this slider, disable the 'origin' size. */
#connect .noUi-origin {
    right: auto;
    width: 0;
}

/* Position the bar and color it. */
#connect .connect {
    position: absolute;
    top: 0;
    bottom: 0;
    /*background: #80C9F5;*/
    background: #E5E5E5;
    box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
}

/* When the slider is moved by tap,
   transition the connect bar like the handle. */
#connect.noUi-state-tap .connect {
    -webkit-transition: left 300ms, right 300ms;
    transition: left 300ms, right 300ms;
}

/* Make accordion transparent*/
.ui-widget-content, .ui-widget-header{
    background: rgba(203, 197, 197, 0.35) !important;      
    border: 1px solid transparent !important;
}
/*
.ui-widget-content{
    color: #FFFFFF !important;
}*/

.ui-tabs .ui-tabs-nav {
    text-align: center;
}

.ui-tabs .ui-tabs-nav li {
    float: none !important;
    display: inline-block;
}

.alert-info {    
    color: #333;
    border-color: transparent;    
    background-color: rgba(203, 197, 197, 0.35) !important;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
  font-weight: 400;
  line-height: 1;
  color: #333;
}

.bdoButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.bdoButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}
.bdoButton:active {
    position:relative;
    top:1px;
}

.label-primary {
    background-color: #E4E4E4 !important;
    color: #777777 !important;
}

.carousel-inner {
    border: 2px solid rgb(210, 180, 140);    
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}


.h3, h3 {
    text-shadow: 0 0 10px #EDEDED;
}

body {
    text-shadow: 0 0 10px #EDEDED;
}
